html, body {
  font-family: Arial, sans-serif;
  height: 100%;
  margin: 0;
  overflow-x: hidden;
  background-color: darkgrey;
}
.page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
/*==========================================================================================================*/
/*  SOME STYLING FOR NAV, FOOTER SO AND SO*/
.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 20px;
  height: 50px;
  background: #222;
  color: white;
}
.content {
  flex: 1;
}
.footer {
  background: #222;
  color: white;
  padding: 15px;
}

/*
Below is all for Navbar, logo the image, the side help arrange items to either side,
a's just for buttons, the nav thing above
*/
.logo {
  height: 32px;
}

.nav-logo-side {
  display: flex;
  align-items: center;
  padding-left: 20px;
  height: 100%;
}
.nav-links-side {
  display: flex;
  gap: 10px;
  height: 100%;
}

.nav a {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0 10px;
  color: white;
  text-decoration: none;
}
.nav a:hover {
  background: #444;
}
/*==============================================================================================*/
/*                For the presets                                   */
.button-row{
  display: flex; /*display and flex needed for gap between buttons*/
  gap: 50px;
  width: fit-content; /*ensure the buttons centered to page*/
  margin: 0 auto;
}
.button-row button {
  padding: 10px 50px; /* makes the size for button and rounds the edges */
  border-radius: 25px;
  border: none;
  background-color: lightgray;
  color: black;
  cursor: pointer;
  font-size: 16px;
}
/*==============================================================================================*/
/*                THIS IS FOR THE CARD THE SPLITTING AND SO                           */
#wrapper {
  max-width: 75%;
  margin: 50px auto;
}

.card {
  display: flex;
  gap: 15px;
  width: 100%;
  padding: 15px;
  border: 1px solid #ccc;
  cursor: pointer;
  align-items: center;
  background: grey;
}
.card img {
  width: 120px;
}
.info {
  flex: 1;
}

.card-group {
  display: flex;
  flex-direction: column;
  gap: 20px;
  position: relative;
}
.hidden {
  display: none;
}
/*=========================================================================================================*/
/* split animation */
.split {
  animation-duration: 0.4s;
  animation-fill-mode: both;
  opacity: 0;
}

.split.up {
  animation-name: splitUp;
}
.split.center {
  animation-name: splitCenter;
}
.split.down {
  animation-name: splitDown;
}
/*========================================================================================================*/
/*                              ACTUAL MOVEMENT OF DISPLAYS                           */
@keyframes splitUp {
  from {
    transform: translateY(40px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes splitCenter {
  from {
    transform: scale(0.95);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes splitDown {
  from {
    transform: translateY(-40px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

/*=====================================================================================================*/
/*                          past the card animation                                         */
.genInfo{
  width: 95%;
  max-width: 95%;
  padding: 20px;
  background-color: grey;
  margin: 0 auto;

  word-wrap: break-word;
  overflow-wrap: break-word;
  white-space: normal;
}

.preorder{
  background-color: lightblue;
  text-align: center;
}